@font-face {
  font-family: Circular-Medium;
  src: url(../fonts/CircularStd-Medium.otf); }
@font-face {
  font-family: Circular-Light;
  src: url(../fonts/CircularStd-Light.otf); }
@font-face {
  font-family: Circular-Book;
  src: url(../fonts/CircularStd-Book.otf); }
@font-face {
  font-family: Circular-Bold;
  src: url(../fonts/CircularStd-Bold.otf); }
@font-face {
  font-family: BigCaslon_Italic;
  src: url(../fonts/BigCaslonFB-Italic.ttf); }
body {
  margin: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text_center, #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey {
  text-align: center; }

.section_spacing, #index_page .about_wrap, #index_page .testimonials_section {
  padding: 100px 0; }
  @media only screen and (max-width: 767px) {
    .section_spacing, #index_page .about_wrap, #index_page .testimonials_section {
      padding: 50px 0; } }

.italic {
  font-family: BigCaslon_Italic; }

.cmn_btn {
  text-decoration: none;
  position: relative;
  margin-top: 20px;
  border-radius: 25px;
  border: solid 2px #f7e57e;
  background-color: black;
  font-size: 20px;
  font-family: Circular-Medium;
  padding: 10px 20px;
  color: white;
  transition: ease all 300ms;
  line-height: 1;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .cmn_btn {
      font-size: 16px; } }
  .cmn_btn .button_text {
    margin-right: 20px;
    line-height: 1; }
  .cmn_btn .first_button {
    transition: ease all 300ms; }
  .cmn_btn .second_button {
    position: absolute;
    top: 10px;
    transition: ease all 300ms;
    display: flex;
    justify-content: space-between;
    width: 80%;
    transform: translateX(100%);
    opacity: 0; }
  .cmn_btn:hover {
    background-color: #f7e57e;
    color: black; }
    .cmn_btn:hover .arrow {
      filter: brightness(0); }

#index_page {
  position: relative;
  overflow: hidden; }
  #index_page .banner_wrap {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    margin-bottom: 100px; }
    @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
      #index_page .banner_wrap {
        max-height: 100vh; } }
    #index_page .banner_wrap .brown_circle {
      width: 80vw;
      height: 80vw;
      border-radius: 50%;
      margin: 0 auto;
      background-color: #402e23;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      color: white; }
      @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
        #index_page .banner_wrap .brown_circle {
          width: 120vw;
          height: 120vw; } }
      @media only screen and (max-width: 767px) {
        #index_page .banner_wrap .brown_circle {
          width: 200vw;
          height: 200vw; } }
      #index_page .banner_wrap .brown_circle h2 {
        font-size: 60px;
        padding-bottom: 30px;
        font-family: Circular-Book; }
        @media only screen and (max-width: 767px) {
          #index_page .banner_wrap .brown_circle h2 {
            font-size: 40px; } }
        #index_page .banner_wrap .brown_circle h2 span {
          font-family: BigCaslon_Italic; }
    #index_page .banner_wrap .banner_img .banner_img_img {
      width: 100%; }
    #index_page .banner_wrap .banner_img .banner_text {
      font-size: 50px;
      line-height: 1;
      z-index: 2;
      width: 50%; }
      @media only screen and (max-width: 767px) {
        #index_page .banner_wrap .banner_img .banner_text {
          font-size: 30px;
          width: 100%; } }
    #index_page .banner_wrap .banner_img .banner_text2 {
      z-index: 7;
      font-size: 50px;
      line-height: 1.2;
      width: 70%; }
      @media only screen and (max-width: 767px) {
        #index_page .banner_wrap .banner_img .banner_text2 {
          font-size: 30px;
          width: 100%; } }
    #index_page .banner_wrap .banner_img .banner_text,
    #index_page .banner_wrap .banner_img .banner_text2 {
      position: absolute;
      top: 50px;
      text-align: center;
      color: white;
      font-family: Circular-Light;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%); }
      #index_page .banner_wrap .banner_img .banner_text span,
      #index_page .banner_wrap .banner_img .banner_text2 span {
        font-family: Circular-Bold; }
    #index_page .banner_wrap .banner_img .mountains {
      z-index: 6; }
    #index_page .banner_wrap .banner_img .white_clouds {
      z-index: 7; }
    #index_page .banner_wrap .banner_img .birds {
      z-index: 5; }
    #index_page .banner_wrap .banner_img .hidden_elem {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0; }
    #index_page .banner_wrap .banner_img .black_left {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 7; }
    #index_page .banner_wrap .banner_img .black_right {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 7; }
    #index_page .banner_wrap .banner_img .scene {
      z-index: 8; }
    #index_page .banner_wrap .banner_img .shilajit_box {
      z-index: 9;
      position: absolute;
      left: 50%;
      bottom: 0; }
      @media only screen and (max-width: 767px) {
        #index_page .banner_wrap .banner_img .shilajit_box {
          transform: scale(1.3);
          bottom: 20px; } }
  #index_page .trusted_ingredients h2 {
    font-family: Circular-Bold;
    font-size: 45px; }
    @media only screen and (max-width: 767px) {
      #index_page .trusted_ingredients h2 {
        font-size: 30px;
        margin-top: -50px; } }
  #index_page .trusted_ingredients .images_content_wrap.gold .images_wrap .images_wrap_inside:first-child {
    opacity: 0; }
  #index_page .trusted_ingredients .images_content_wrap.gold .images_wrap .images_wrap_inside:last-child {
    transform: translateX(-50%);
    opacity: 1; }
  #index_page .trusted_ingredients .images_content_wrap.gold .shilajit_button .first_button {
    opacity: 0; }
  #index_page .trusted_ingredients .images_content_wrap.gold .shilajit_button .second_button {
    transform: translateX(0%);
    opacity: 1; }
  #index_page .trusted_ingredients .images_content_wrap .images_wrap {
    position: relative; }
    #index_page .trusted_ingredients .images_content_wrap .images_wrap .images_wrap_inside .img_container {
      margin-top: 50px; }
    #index_page .trusted_ingredients .images_content_wrap .images_wrap .images_wrap_inside:last-child {
      left: 50%;
      transform: translateX(100%);
      transition: ease all 500ms;
      position: absolute;
      top: 0;
      opacity: 0; }
    #index_page .trusted_ingredients .images_content_wrap .images_wrap .images_wrap_inside img {
      margin: 0 auto; }
  #index_page .fetaures_wrap {
    padding: 80px 0;
    margin-top: 100px;
    background-color: #402e23; }
    @media only screen and (max-width: 767px) {
      #index_page .fetaures_wrap {
        margin-top: 50px;
        padding: 40px 0; } }
    #index_page .fetaures_wrap .features {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
        #index_page .fetaures_wrap .features {
          width: 95%; } }
      @media only screen and (max-width: 767px) {
        #index_page .fetaures_wrap .features {
          flex-direction: column;
          width: 60%; } }
      #index_page .fetaures_wrap .features .feature_card {
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 767px) {
          #index_page .fetaures_wrap .features .feature_card {
            width: 100%; } }
        #index_page .fetaures_wrap .features .feature_card .fetaure_value {
          width: 93px;
          height: 93px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: solid 2px white;
          color: white;
          font-size: 35px;
          font-family: Circular-Bold; }
          @media only screen and (max-width: 767px) {
            #index_page .fetaures_wrap .features .feature_card .fetaure_value {
              font-size: 24px; } }
        #index_page .fetaures_wrap .features .feature_card .fetaure_text {
          color: white;
          padding-left: 10px;
          font-size: 30px;
          font-family: Circular-Bold; }
          @media only screen and (max-width: 767px) {
            #index_page .fetaures_wrap .features .feature_card .fetaure_text {
              font-size: 20px;
              padding-left: 20px; } }
  #index_page .video_wrap {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    cursor: pointer; }
    #index_page .video_wrap video {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #index_page .video_wrap:hover .play {
      transform: translate(-50%, -50%) scale(0.9); }
    #index_page .video_wrap .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: ease all 300ms; }
      @media only screen and (max-width: 767px) {
        #index_page .video_wrap .play {
          width: 50px; } }
  #index_page .about_wrap .about_text {
    width: 70%;
    margin: 0 auto;
    font-size: 25px;
    font-family: Circular-Medium;
    margin-bottom: 30px; }
    @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
      #index_page .about_wrap .about_text {
        width: 90%; } }
    @media only screen and (max-width: 767px) {
      #index_page .about_wrap .about_text {
        font-size: 18px;
        width: 90%; } }
  #index_page .about_shilajit {
    overflow: hidden;
    position: relative;
    min-height: 100vh; }
    #index_page .about_shilajit h2 {
      text-align: center;
      padding: 30px 0;
      margin: 0;
      font-size: 50px;
      font-family: Circular-Medium; }
      @media only screen and (max-width: 767px) {
        #index_page .about_shilajit h2 {
          width: 80%;
          margin: 0 auto;
          font-size: 28px; } }
      #index_page .about_shilajit h2 span {
        font-family: BigCaslon_Italic; }
    #index_page .about_shilajit .shilajits_impact_wrap {
      min-height: 98vh;
      max-height: 100vh;
      background-color: #402e23;
      padding: 10px 0 0;
      color: white;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px; }
      @media only screen and (max-width: 767px) {
        #index_page .about_shilajit .shilajits_impact_wrap {
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          max-height: 100vh; } }
      #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey {
        position: relative;
        width: 80%;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
          #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey {
            width: 90%; } }
        @media only screen and (max-width: 767px) {
          #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0px 0 30px; } }
        #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey:before {
          content: "";
          position: absolute;
          top: 50%;
          height: 2px;
          width: 90%;
          transform: translateY(-50%);
          background-color: white;
          margin: 0 auto;
          z-index: 1; }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey:before {
              display: none; } }
        @media only screen and (max-width: 767px) {
          #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap {
            width: 46%;
            display: flex;
            flex-direction: column;
            align-items: center; } }
        #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap h3 {
          font-size: 25px;
          font-family: Circular-Bold; }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap h3 {
              font-size: 18px; } }
        #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap .week_circle {
          position: relative;
          z-index: 2;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: solid 2px white;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #402e23; }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap .week_circle {
              width: 120px;
              height: 120px; } }
        #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap p {
          font-size: 16px;
          font-family: Circular-Medium; }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .shilajits_impact_wrap .wellness_journey .week_wrap p {
              font-size: 14px; } }
    #index_page .about_shilajit .pure_himalayan {
      min-height: 100vh;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
      background-color: #b9a787;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px; }
      @media only screen and (max-width: 767px) {
        #index_page .about_shilajit .pure_himalayan {
          border-top-left-radius: 50px;
          border-top-right-radius: 50px; } }
      #index_page .about_shilajit .pure_himalayan .himalayan_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px; }
        @media only screen and (min-device-width: 1px) and (max-device-width: 1200px) {
          #index_page .about_shilajit .pure_himalayan .himalayan_wrap {
            flex-direction: column;
            margin-top: 0; } }
        @media only screen and (max-width: 767px) {
          #index_page .about_shilajit .pure_himalayan .himalayan_wrap {
            flex-direction: column;
            margin-top: 0; } }
        #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image {
          width: 40%;
          margin: 0 auto;
          border-right: solid 2px black;
          padding: 0 50px; }
          #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image img {
            width: 100%; }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
            #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image {
              padding: 0;
              width: 80%;
              border-right: 0;
              border-bottom: solid 2px black; } }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image {
              padding: 0;
              width: 80%;
              border-right: 0;
              border-bottom: solid 2px black; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
            #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image:first-child {
              padding-bottom: 20px; } }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image:first-child {
              padding-bottom: 20px; } }
          #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image:last-child {
            border-right: 0;
            border-bottom: 0; }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
              #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image:last-child {
                margin-top: 20px; } }
            @media only screen and (max-width: 767px) {
              #index_page .about_shilajit .pure_himalayan .himalayan_wrap .himalayan_image:last-child {
                margin-top: 20px; } }
    #index_page .about_shilajit .vitality_wrap {
      min-height: 100vh;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 3;
      background-color: #402e23;
      color: white;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 767px) {
        #index_page .about_shilajit .vitality_wrap {
          justify-content: space-between;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px; } }
      #index_page .about_shilajit .vitality_wrap h2 {
        padding-top: 50px; }
        @media only screen and (max-width: 767px) {
          #index_page .about_shilajit .vitality_wrap h2 {
            padding: 10px 0; } }
      #index_page .about_shilajit .vitality_wrap .well_being_wrap {
        display: flex;
        flex-wrap: wrap; }
        @media only screen and (max-width: 767px) {
          #index_page .about_shilajit .vitality_wrap .well_being_wrap {
            flex-direction: column; } }
        #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being {
          width: 25%; }
          @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
            #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being {
              width: 50%; } }
          @media only screen and (max-width: 767px) {
            #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being {
              width: 100%; } }
          #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being:nth-child(even) .wellbeing_content {
            background-color: #242424; }
          #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being:nth-child(odd) .wellbeing_content {
            background-color: #3e3e3e; }
          #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being .wellbeing_content {
            color: white;
            padding: 10px 0;
            text-align: center;
            margin: 0;
            font-size: 20px;
            font-family: Circular-Bold; }
            @media only screen and (max-width: 767px) {
              #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being .wellbeing_content {
                font-size: 16px; }
                #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being .wellbeing_content br {
                  display: none; } }
          #index_page .about_shilajit .vitality_wrap .well_being_wrap .well_being .wellbeing_image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
  #index_page .testimonials_section {
    position: relative;
    padding-top: 100px; }
    @media only screen and (max-width: 767px) {
      #index_page .testimonials_section {
        padding-top: 50px; } }
    #index_page .testimonials_section .section_content {
      position: relative;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      font-size: 25px;
      font-family: Circular-Medium; }
      @media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
        #index_page .testimonials_section .section_content {
          width: 80%; } }
      @media only screen and (max-width: 767px) {
        #index_page .testimonials_section .section_content {
          font-size: 18px;
          width: 90%; } }
      #index_page .testimonials_section .section_content .test_about {
        margin-bottom: 30px; }
    #index_page .testimonials_section .land {
      position: absolute; }
      @media only screen and (max-width: 767px) {
        #index_page .testimonials_section .land {
          display: none; } }
    #index_page .testimonials_section .land1 {
      left: 0;
      top: 100px; }
    #index_page .testimonials_section .land2 {
      right: 0;
      top: 50px; }
    #index_page .testimonials_section .testimonials_wrap {
      margin-top: 100px; }
      @media only screen and (max-width: 767px) {
        #index_page .testimonials_section .testimonials_wrap {
          margin-top: 50px; } }
      #index_page .testimonials_section .testimonials_wrap .testimonial_padding {
        padding: 0 10px; }
        #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials {
          position: relative; }
          #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials .testimonial_content {
            padding: 30px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: ease all 300ms;
            padding-right: 50px;
            color: white; }
            #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials .testimonial_content .checked {
              color: orange; }
            #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials .testimonial_content .test_cont {
              font-size: 20px;
              font-family: Circular-Medium; }
              @media only screen and (max-width: 767px) {
                #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials .testimonial_content .test_cont {
                  font-size: 16px; } }
            #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials .testimonial_content .name {
              font-size: 16px;
              font-family: Circular-Medium; }
              @media only screen and (max-width: 767px) {
                #index_page .testimonials_section .testimonials_wrap .testimonial_padding .testimonials .testimonial_content .name {
                  font-size: 12px; } }

/*# sourceMappingURL=styles.css.map */
