@font-face {
  font-family: Circular-Medium;
  src: url(../fonts/CircularStd-Medium.otf);
}

body {
  margin: 0;
}

.text_center {
  text-align: center;
}

.section_spacing {
  padding: 100px 0;
}

#index_page {
  position: relative;
  overflow: hidden;
  .brown_circle {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #402e23;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    color: white;
    font-size: 40px;
    h2 {
      padding-bottom: 50px;
    }
  }
  .banner_wrap {
    position: relative;
    overflow: hidden;
    .banner_img {
      .banner_text {
        z-index: 2;
      }
      .banner_text2 {
        z-index: 7;
      }
      .banner_text,
      .banner_text2 {
        position: absolute;
        width: 100%;
        top: 30px;
        text-align: center;
        font-family: Circular-Medium;
        font-size: 30px;
      }
      .mountains {
        z-index: 6;
      }
      .white_clouds {
        z-index: 7;
      }
      .birds {
        z-index: 5;
      }
      .hidden_elem {
        position: absolute;
        left: 0;
        top: 0;
      }
      .black_left {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 7;
      }
      .black_right {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 7;
      }
      .scene {
        z-index: 8;
      }
      .shilajit_box {
        z-index: 9;
        position: absolute;
        left: 50%;
      }
    }
  }
  .trusted_ingredients {
    .images_content_wrap {
      &.gold {
        .images_wrap {
          img {
            &:first-child {
              opacity: 0;
              left: -100%;
            }
            &:last-child {
              transform: translateX(-100%);
              opacity: 1;
            }
          }
        }
        .shilajit_button {
          .first_button {
            opacity: 0;
          }
          .second_button {
            transform: translateX(0%);
            opacity: 1;
          }
        }
      }
      .images_wrap {
        position: relative;
        img {
          &:first-child {
            transition: ease all 500ms;
          }
          &:last-child {
            transition: ease all 500ms;
            position: absolute;
            opacity: 0;
          }
        }
      }
      .shilajit_button {
        position: relative;
        margin-top: 20px;
        border-radius: 25px;
        border: solid 2px #f7e57e;
        background-color: black;
        font-size: 20px;
        padding: 10px 20px;
        color: white;
        transition: ease all 500ms;
        cursor: pointer;
        overflow: hidden;
        .button_text {
          margin-right: 20px;
        }
        .first_button {
          transition: ease all 500ms;
        }
        .second_button {
          position: absolute;
          top: 10px;
          transition: ease all 500ms;
          display: flex;
          justify-content: space-between;
          width: 80%;
          transform: translateX(100%);
          opacity: 0;
        }
        &:hover {
          background-color: #f7e57e;
          color: black;
          .arrow {
            filter: brightness(0);
          }
        }
      }
    }
  }
  .fetaures_wrap {
    margin-top: 100px;
    background-color: #402e23;
    .features {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .feature_card {
        display: flex;
        align-items: center;
        .fetaure_value {
          width: 93px;
          height: 93px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: solid 1px white;
          color: white;
        }
        .fetaure_text {
          color: white;
          padding-left: 10px;
        }
      }
    }
  }
  .video_wrap {
    position: relative;
    cursor: pointer;
    &:hover {
      .play {
        transform: translate(-50%, -50%) scale(0.9);
      }
    }
    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: ease all 300ms;
    }
  }
  .about_wrap {
    @extend .section_spacing;
    .about_text {
      width: 70%;
      margin: 0 auto;
    }
  }
  .testimonials_wrap {
    @extend .section_spacing;
  }
}
